<template>
  <router-link class="buttonBack" to="/" tag="button">
    <svg viewBox="0 -256 1792 1792" width="100%" height="100%">
      <g transform="matrix(1,0,0,-1,98.711864,1224.678)">
        <path d="M 1536,640 V 512 q 0,-53 -32.5,-90.5 Q 1471,384 1419,384 H 715 L 1008,90 q 38,-36 38,-90 0,-54 -38,-90 l -75,-76 q -37,-37 -90,-37 -52,0 -91,37 L 101,486 q -37,37 -37,90 0,52 37,91 l 651,650 q 38,38 91,38 52,0 90,-38 l 75,-74 q 38,-38 38,-91 0,-53 -38,-91 L 715,768 h 704 q 52,0 84.5,-37.5 Q 1536,693 1536,640 z" id="path3005" inkscape:connector-curvature="0"  />
      </g>
    </svg>
  </router-link>
</template>
<script src="./RouteDetails.js"></script>
<style src="./RouteDetails.sass" lang="sass" scoped></style>
