.buttonBack
  width: 3em
  height: 3em
  border-radius: 50%
  border: none
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2)
  background: #8aa52a
  cursor: pointer
  text-align: center

  svg
    fill: white