<template>
  <div id="notifications">
    <notification
      v-for="(content, index) in toDisplay" :key="index"
      :content="content"
      @close="remove(index)"
    >
        <template v-for="({ event, name, payload }, index) in content.actions" slot="actions">
          <div class="card-action" :key="index">
            <notification-action :event="event" :name="name" :payload="payload"></notification-action>
          </div>
        </template>
    </notification>
  </div>
</template>

<script src="./notifications.js"></script>
<style src="./notifications.sass" lang="sass"></style>